@charset "UTF-8";

@font-face {
    font-family: "Authentic Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AUTHENTICSans-90.woff2") format("woff2"),
        url("../fonts/AUTHENTICSans-90.woff") format("woff");
}

@font-face {
    font-family: "Authentic Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/AUTHENTICSans-130.woff2") format("woff2"),
        url("../fonts/AUTHENTICSans-130.woff") format("woff");
}

@font-face {
    font-family: "Authentic Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/AUTHENTICSans-150.woff2") format("woff2"),
        url("../fonts/AUTHENTICSans-150.woff") format("woff");
}

:root {
    --doc-height: 100%;
    --color-txt: #000000;
    --color-pub: #f6f79d;
    --color-pro: #ccddde;
    --color-pro: #d9a1f8;
    --color-neutral: #83ff8e;
    --main-margin: 16px 40px;
    /* --text-size: 14px;
    --caption-size: 12px; */
    --button-padding: 6px 24px;
    --button-size: 12px;
    --button-radius: 40px;
    --header-height: 88px;
}

html {
    font-size: 100%;
}

body {
    width: 100%;
    font-family: "Authentic Sans";
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(--color-txt);
    background: #ffffff;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.text {
    font-size: 16px;
    font-weight: 400;
}

.text-title {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.text-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.text-caption {
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: var(--main-margin);
    z-index: 9;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    padding: var(--main-margin);
    z-index: 9;
}

.button {
    display: inline-block;
    font-family: "Authentic Sans";
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    font-size: var(--button-size);
    padding: var(--button-padding);
    background: #ffffff;
    border: solid 1px var(--color-txt);
}

.button a,
.button p,
.button h1 {
    position: relative;
    top: 1px;
}

.static-button {
    border-radius: var(--button-radius);
}

.button:not(.static-button):hover {
    background: var(--color-page);
    border-radius: var(--button-radius);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    gap: 40px;
}

.main-nav-wrapper {
    display: flex;
    gap: 4px;
}

.nav-button.--current,
.category-button.--current {
    background: var(--color-page);
    border-radius: var(--button-radius);
}

.main.content {
    padding: 176px 40px;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px
}

.item-cover {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: solid 1px var(--color-page);
}

.item-info {
    display: flex;
    gap: 16px;
    align-items: start;
    justify-content: space-between;
}

.item-page {
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 24px 0;
    border-top: solid 1px var(--color-page);
    border-bottom: solid 1px var(--color-page);
}

.item-gallery {
    height: min-content;
    position: sticky;
    /* top: var(--header-height); */
}

.item-description {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.description-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.description-header-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.description-header-ui {
    display: flex;
    gap: 4px;
}

.description-header-ui .button {
    border-color: var(--color-page);
}

.description-header-ui .tooltiptext {
    display: none;
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.description-text p:not(:first-child) {
    text-indent: 24px;
}

.item-close {
    position: absolute;
    top: -24px;
    right: 0;
    cursor: pointer;
}

.item-close svg {
    width: 14px;
    stroke: var(--color-txt);
    stroke-width: 1px;
}