:root {
    --doc-height: 100%;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-shop: #baa0de;
    --color-projects: #7ba3dd;
    --color-green: #a7dea7;
    --main-margin: 160px 40px;
    --inner-margin: 16px 40px;
    --button-padding: 6px 24px 6px 24px;
    --button-size: 14px;
    --button-radius: 40px;
    --header-height: 88px;
}

@-moz-document url-prefix() {
    :root {
        --button-padding: 8px 24px 4px 24px;
    }
}

_::-webkit-full-page-media,
_:future,
:root {
    --button-padding: 8px 24px 4px 24px;
}

/* --color-shop: #69bff5; */
/* --color-shop: #8063FF; */
/* --color-projects: #f56868; */
/* --color-projects: #FFA863; */
/* --color-green: #64FF64; */