:root {
    --doc-height: 100%;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-pub: #69bff5;
    --color-pro: #f56868;
    --color-neutral: #64FF64;
    --main-margin: 16px 40px;
    /* --text-size: 14px;
    --caption-size: 12px; */
    --button-padding: 7px 24px 5px 24px;
    --button-size: 12px;
    --button-radius: 40px;
    --header-height: 88px;
}