:root {
    --color-page: var(--color-green);
}

.checkout,
.order {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.cart {
    position: sticky;
    top: 160px;
    width: 100%;
    height: fit-content;
    background: var(--color-page);
    z-index: 7;
}

.cart-content {
    padding: 40px;
}

.cart-content-wrapper:last-child {
    border-bottom: solid 1px var(--color-black);
}

.cart-header {
    display: none;
}

.shipping-form,
.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1;
}

.shipping-form abbr,
.checkout-form abbr {
    text-decoration: none;
}

.checkout-form input[type="email"],
.checkout-form input[type="text"],
.shipping-form select,
.checkout-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    border-radius: 0;
    padding: var(--button-padding);
    border: solid 1px var(--color-black);
}

.field.conditional {
    display: none;
}

.radio-title {
    margin-bottom: 24px;
}

.field[data-type="radio"] label,
.field[data-type="radio"] label span {
    margin-left: 8px;
}

.field.text-title {
    width: fit-content;
    padding-bottom: 2px;
    border-bottom: solid 1px var(--color-black);
    /* margin-bottom: 1rem; */
    /* align-self: center; */
}

/* .checkout-form .field.text-title {
    margin-top: 2rem;
} */

.checkout-form .button {
    align-self: center;
}

.order-recap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    border: solid 1px var(--color-page);
}

.order-recap-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.table {
    margin-top: 16px;
}

.table th,
.table td {
    text-align: start;
}

.table td {
    padding-left: 24px;
}

.error {
    font-family: "anonymous-pro", monospace;
    font-size: 13px;
    font-weight: 400;
    line-height: 120%;
    color: red;
}