:root {
    --color-page: #baa0de;
}

.checkout {
    flex-direction: row;
    gap: 40px;
}

.cart {
    position: static;
    flex: 1 1;
    height: fit-content;
    position: sticky;
    top: 160px;
}

.cart-content {
    padding: 40px;
}

.cart-header {
    display: none;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1;
}

.checkout-form abbr {
    text-decoration: none;
}

/* .checkout-form .field[data-type="email"],
.checkout-form .field[data-type="text"] {
    display: flex;
    flex-direction: column;
} */

.checkout-form input[type="email"],
.checkout-form input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    border-radius: 0;
    padding: var(--button-padding);
    border: solid 1px var(--color-black);
}

.payment-methods-title {
    margin-bottom: 24px;
}

.field[data-type="radio"] label {
    margin-left: 8px;
}

.checkout-form .button {
    align-self: center;
}