:root {
    --color-page: #baa0de;
}

.order {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.cart {
    position: sticky;
    top: 160px;
    width: 100%;
    height: fit-content;
}

.cart-content {
    padding: 40px;
}

.cart-content-wrapper:last-child {
    border-bottom: solid 1px var(--color-black);
}

.cart-header {
    display: none;
}

.order-recap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    border: solid 1px var(--color-page);
}

.order-recap-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.table {
    margin-top: 16px;
}

.table th,
.table td {
    text-align: start;
}

.table td {
    padding-left: 24px;
}